/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Fira Sans Condensed;
}

.container {
    height: 100%;
}

.container>div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.5);
}

.a {
    background-color: cadetblue;
}

.b {
    background-color: cornflowerblue;
    background-image: url("images/grass-1.jpg");
}

.c {
    background-color: darkseagreen;
}

.d {
    background-color: goldenrod;
    background-image: url("images/grass-2.jpg");
}

.e {
    background-color: indianred;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
}

.nav-bar>a {
    display: block;
    text-decoration: none;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

a.selected {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

footer {
    text-align: center;
}